MySQL-python
Pillow
Pillow-PIL
argparse
backports.ssl-match-hostname
certifi
distribute
lxml
matplotlib
nose
numpy
pyparsing
python-dateutil
six
tornado
utm
wsgiref
wxPython==2.8.12.1
wxPython-common==2.8.12.1
